# CRT TRAINING
## Day:-16-12-2019
### Day6

In [1]:
li=(10,20,4,5)
print(li[0])
print(li[-1])
print(li[0:3])
print(li[::2])
print(li[::3])

10
5
(10, 20, 4)
(10, 4)
(10, 5)

In [5]:
list1 = ["python", 3, 6, "Hyd"]
print(list1)
list1[1] = "Gitam"
list1

['python', 3, 6, 'Hyd']

['python', 'Gitam', 6, 'Hyd']

In [7]:
# del list items
del list1[1]
list1

['python', 6, 'Hyd']

In [8]:
del list1
list1

NameError: name 'list1' is not defined

In [22]:
# Basic List Operations
l = [2, 5, 7, 1, 8, 4]
len(l)
# list Repetition
li*2
# to check certain element is present in the list
print(4 in l)
print(10 not in l)
#Access all the items present in the list:
print(l)
for i in l:
    print(i)

True
True
[2, 5, 7, 1, 8, 4]
2
5
7
1
8
4

In [23]:
print(l)
for i in range(len(l)):
    print(l[i])

[2, 5, 7, 1, 8, 4]
2
5
7
1
8
4

In [28]:
print(l)
print(max(l))
print(min(l))
print(sum(l))
print(sum(l)/len(l))

[2, 5, 7, 1, 8, 4]
8
1
27
4.5

In [33]:
print(l)
l.append("python")

['Gitam', 2, 5, 7, 1, 8, 4, 'python', 'python', 'python']

In [35]:
l.insert(0, "Gitam")
l

['Gitam',
 'Gitam',
 'Gitam',
 'Gitam',
 2,
 5,
 7,
 1,
 8,
 4,
 'python',
 'python',
 'python',
 'python']

In [38]:
print(l.count(4))
print(l.index(2))
print(l.index(4))

1
4
9

In [40]:
listl = [6,89,3,2,1,78]
listl.sort()
listl

[1, 2, 3, 6, 78, 89]

In [41]:
print(listl)
listl.pop()

[1, 2, 3, 6, 78, 89]

89

In [44]:
print(listl)
listl.pop(2)

[1, 2, 3, 6, 78]

3

In [58]:
li1=[12, 43, 76]

In [59]:
list1 = [1,2,3]
list1.extend(li1)
list1

[1, 2, 3, 12, 43, 76]

In [60]:
list1.reverse()
list1

[76, 43, 12, 3, 2, 1]

In [61]:
# Function is return the largest number from the list
def largeNumber(li):
    li.sort()
    return li[-1]    
li = [3,45,32,67,890,12]
largeNumber(li)

890